# Project 6-1: Clean the ramen data

In [1]:
# https://www.kaggle.com/residentmario/ramen-ratings
import pandas as pd
import seaborn as sns

## Tasks

In [2]:
# 1
data = pd.read_csv('ramen-ratings.csv')
data

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75
...,...,...,...,...,...
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00
2576,Westbrae,Miso Ramen,Pack,USA,0.50

In [3]:
# 2
data.rename(columns={'Stars':'Rating'}, inplace=True)

In [4]:
# 3
data.Style = data.Style.astype('category')

In [5]:
# 4
data.drop(columns=['Country'], inplace=True)

In [6]:
# 5
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   category
 3   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 63.4+ KB

In [7]:
# 6
data.rename(columns={'Brand':'Company','Variety':'Product'}, inplace=True)

In [8]:
# 7
data[data.duplicated(subset=['Company','Product'], keep=False)]

              Company                          Product Style  Rating
2              Nissin    Cup Noodles Chicken Vegetable   Cup    2.25
24     Ching's Secret       Hot Garlic Instant Noodles  Pack    4.25
46           Nongshim                Shin Ramyun Black  Pack    5.00
69            MyKuali  Penang Red Tom Yum Goong Noodle  Pack    5.00
75           Nongshim                      Shin Ramyun  Pack    3.00
...               ...                              ...   ...     ...
2545             Koka           Mi Hai Cua Crab Flavor  Pack    3.50
2552           Nissin         Demae Ramen Spicy Flavor  Pack    3.00
2556         Nongshim        Champong Oriental Noodles  Pack    4.00
2558         Nongshim                      Shin Ramyun  Pack    4.00
2565  Sapporo Ichiban                    Shrimp Flavor  Pack    2.50

[118 rows x 4 columns]

In [9]:
# 8
data.drop_duplicates(subset=['Company','Product'], inplace=True)
data

,Company,Product,Style,Rating
0,New Touch,T's Restaurant Tantanmen,Cup,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,2.75
4,Ching's Secret,Singapore Curry,Pack,3.75
...,...,...,...,...
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,3.50
2573,Wai Wai,Oriental Style Instant Noodles,Pack,1.00
2574,Wai Wai,Tom Yum Shrimp,Pack,2.00
2575,Wai Wai,Tom Yum Chili Flavor,Pack,2.00
2576,Westbrae,Miso Ramen,Pack,0.50

In [10]:
# 9
data.dropna(inplace=True)

In [11]:
# 10
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2515 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2515 non-null   object
 1   Product  2515 non-null   object
 2   Style    2515 non-null   category
 3   Rating   2515 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 81.4+ KB